body{
    align-items: center;
    
    
}
.clock{
    background-repeat: no-repeat;
    background-image: url(clk.jpg);
    position: relative;
    margin: auto;
    height: 40vw;
    /*to make the height and width responsive*/
    width: 40vw;
    
    /*setting our background image*/
    background-size: 100%;
    
    }
    
    #hour,#minutes,#seconds{
        background-color: black;
        border-radius: 10px;
        transform-origin: bottom;
        position: absolute;
         
    }
    #hour{
        width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;
    }
    #minutes {
        width: 1.6%;
        height: 30%;
        top: 19%;
        left: 48.9%;
        opacity: 0.8;
    }
    
    #seconds {
        width: 1%;
        height: 40%;
        top: 9%;
        left: 49.25%;
        opacity: 0.8;
    }